body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(49, 89, 162);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input {
	background-color: rgb(118, 148, 204);
	color: rgb(51, 11, 31);
}

h1 { 
color: #801515; font-family: "Great Vibes", 
cursive; font-size: 200%; line-height: 70px;
font-weight: bold; margin-bottom: 0px; margin-top: 20px; 
text-align: center; text-shadow: 0 1px 1px #fff; 
}

input {
    height: 33px;
    width: 400px;
    text-align: center;
}
